# 0. Importing Modules

코드의 기본은 해당 코드를 작성할 때 필요한 module들을 가져오는 것부터 시작됩니다.

In [ ]:
# 과제를 시작하기 전 이 셀을 무조건 실행하세요.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as DT
import matplotplib.dates import date2num

# 아래에 필요한 것들을 추가로 작성해주세요.

# 1.Numpy

## 1.1 Numpy 알아보기

### 1.1.1 numpy에 대한 간단한 설명을 적어주세요.

### 1.1.2 본인의 numpy version을 출력해주세요

##1.2 numpy array
* 1.2의 문제들은 모두 코드 한 줄로 적어야 합니다.
* '#이곳에 작성'을 지우고 코드를 적어주세요.

###1.2.1 숫자 0부터 9까지 숫자로 이루어진 numpy array를 하나 만드시오.

In [ ]:
arr = #이곳에 작성
print(arr)

###1.2.2 위의 문제에서 만든 arr의 요소 중 홀수인 수를 모두 10으로 변경하시오.

In [ ]:
no_odd = #이곳에 작성
print(no_odd)

###1.2.3 위의 문제에서 만든 arr는 1차원 배열입니다. 이 배열을 2차원 배열로 변경하시오.
array([0,1,2,3,4,5,6,7,8,9]) -> array([[0,1,2,3,4],[5,6,7,8,9]])

In [ ]:
arr_2d = #이곳에 작성
print(arr_2d)

###1.2.4 True로 이루어진 3x3 numpy array를 만드시오.

In [ ]:
true_mat = #이곳에 작성
print(true_mat)

###1.2.5 숫자 0부터 8까지로 이루어진 3x3 numpy array를 만드시오.

In [ ]:
mat = #이곳에 작성
print(mat)

###1.2.6 숫자 5부터 10까지의 난수로 이루어진 array를 만드시오.

In [ ]:
rand_arr = #이곳에 작성
print(rand_arr)

###1.2.7 위의 1.2.5번 문제에서 만든 mat의 모든 행들을 역으로 작성하세요.
array([0,1,2],[3,4,5],[6,7,8]]) -> array([2,1,0],[5,4,3],[8,7,6]])

In [ ]:
reverse_mat = #이곳에 작성
print(reverse_mat)

## 1.3 numpy를 이용한 data 처리

###1.3.1 iris_1d는 꽃잎 길이와 종에 대한 data입니다. 해당 데이터의 앞에서 10개의 data만 출력하시오.
* iris_1d 변수의 내용을 변경하지 마시오.

In [ ]:
# 해당 셀을 실행하되 수정하지 마세요.
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)
np.random.seed(10)
np.random.shuffle(iris_1d)
iris_1d

###1.3.2 iris data는 4개의 숫자 데이터(꽃잎의 길이)와 1개의 문자 데이터(꽃의 종)로 이루어져 있습니다. 위 문제에서의 iris10 데이터의 종 정보만 출력하시오.

### 1.3.3 iris_1d data의 앞에서 30개의 data만 추출하여 첫 번째 요소의 길이가 5.0 이하인 것만 출력하시오.

### 1.3.4 irids_1d data의 앞에서 15개의 data만 추출하여 첫 번째 요소와 네 번째 요소 간의 상관관계를 출력하시오.

###1.3.5 iris_1d 데이터에서 각 종별로 개수가 몇 개인지 출력하시오.

###1.3.6 iris_1d 데이터 중 3번째 요소의 길이가 5.0 이상인 data의 index를 모두 출력하시오.

##1.4

###1.4.1 0부터 1까지의 랜덤 숫자 100개로 이루어진 array를 하나 만들고 array의 평균, 분산, 표준편차, 중앙값을 출력하시오.

###1.4.2 iris_2d 데이터의 첫 번째 열과 3번째 열의 값들 간의 상관계수를 출력하시오. (iris_2d 변수의 내용을 수정하지 마시오.)

In [ ]:
# 해당 셀을 실행만 하되 수정하지 마세요.
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

###1.4.3 0부터 10까지의 랜덤한 정수 100개로 이루어진 array를 하나 만들고 가장 빈도수가 많은 숫자를 출력하시오. (만약 빈도수가 같은 숫자가 있다면 모두 출력하시오.)

### 1.4.4 numpy의 내장 함수를 이용해 현재 시간을 출력하시오. (출력 형식은 자유이고 연,월,일,시,분,초를 모두 출력해야함)

### 1.4.5 numpy의 내장 함수를 이용해 2024년 9월 1일부터 2024년 9월 20일까지의 날짜들 중 홀수일로만 이루어진 array를 하나 만들고 출력하시오.

In [ ]:
# 예시 - 2018년 2월 1일부터 2018년 2월 23일까지

# ['2018-02-01' '2018-02-03' '2018-02-05' '2018-02-07' '2018-02-09'
#  '2018-02-11' '2018-02-13' '2018-02-15' '2018-02-17' '2018-02-19'
#  '2018-02-21' '2018-02-23']

# 2. Pandas

## 2.1 Pandas 알아보기

### 2.1.1 Pandas에 대한 간단한 설명을 적어주세요.

### 2.1.2 본인의 Pandas version을 출력해주세요.

## 2.2 pandas 자료구조

### 2.2.1 pandas의 series와 numpy array의 차이점을 쓰시오.

### 2.2.2  알파벳  a-z로 이루어진 series를 하나 만들고 출력하시오.

### 2.2.3 list1 = [2,4,6,8,10], list2 = [3,6,9,12]일 때 각 리스트를 series1, series2로 바꾼 뒤 series1과 series2를 출력하시오.

In [ ]:
series1 =
series2 =
print(series1)
print(series2)

### 2.2.4 1부터 5까지의 정수로 이루어진 series와 6부터 10까지의 정수로 이루어진 series를 만들어 각각을 열(column)로 가지는 dataframe을 만들고 출력하시오. (2개의 열을 가지는 dataframe 출력)

In [ ]:
# 예시
#   0 1
# 0 1 6
# 1 2 7
# 2 3 8
# 3 4 9
# 4 5 10

### 2.2.5 1-3 정수, 4-6 정수, 7-9 정수, 10-12 정수로 이루어진 series를 만들어 각각을 행(row)으로 가지는 dataframe을 만들고 출력하시오. (4개의 행을 가지는 dataframe 출력)

In [ ]:
# 예시
#    0  1  2
# 0  1  2  3
# 1  4  5  6
# 2  7  8  9
# 3 10 11 12

### 2.2.6 2.2.5에서 만든 dataframe의 index를 ['one','two','three','four']으로 바꾸고 출력하시오.

### 2.2.7
*  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
*  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

위 두 리스트를 series로 변환하고 ***원소별로 더한 값을 새로운 series로 만들어*** 출력하시오. (진한 글씨로 나타낸 부분은 한 줄로 작성)

In [ ]:
# 실행하지 마시오.
s1 = [1,2,3]
s2 = [3,2,1]

### 2.2.8 numpy의 함수를 이용하여 아래와 같은 출력을 만드시오.

In [ ]:
# 예시
# 2000-01-01     1.0
# 2000-01-03    10.0
# 2000-01-05     3.0
# 2000-01-07     NaN

## 2.3

### 2.3.1 아래 path에 해당하는 경로의 csv 파일을 읽고 그 내용을 cars93 이라는 변수로 저장한 뒤 출력하시오.

**cars93 변수의 내용을 변경하지 마시오.**

In [ ]:
# 해당 셀을 실행하되 수정하지 마세요.
path = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

In [ ]:
cars93 = # 이곳에 이어서 작성하세요.

### 2.3.2 위에서 cars93 데이터의 요약을 출력하시오.

### 2.3.3 cars93에서 price가 가장 높은 제품의 manufacturer을 출력하시오.

### 2.3.4 cars93에서 'Type'열의 이름을 'CarType'으로 바꾸고 Renamed라는 이름의 변수에 저장한 뒤 출력하시오.

### 2.3.5 Renamed의 모든 열의 내용중 '.'을 '_'으로 바꾼뒤 Renamed를 출력하시오. (반복문 외의 다른 방법을 사용하시오)

**예시**

* Min.Price -> Min_Price
* MPG.city -> MPG_city

### 2.3.6 아래 missing_path는 결측치가 데이터로 해당 경로의 csv 파일을 열어 결측치를 확인하고 그 개수를 출력하시오.

In [ ]:
# 해당 셀을 실행하되 수정하지 마세요.
missing_path = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

### 2.3.7 위의 데이터 중 결측치가 가장 많은 열을 출력하시오.

### 2.3.8 정수 1부터 20까지로 이루어진 series를 만들고 4x5 크기의 dataframe으로 변형한 뒤 출력하시오. 그리고 해당 dataframe의 2,3번째 열만 출력하시오.

### 2.3.9 문제 2.3.8에서 만든 dataframe의 열을 알파벳 순으로('a','b','c',...) 열 이름을 변경하고 a열과 c열만 출력하시오.

# 3. Matplotlib

## 3.1 Matplotlib 알아보기

###3.1.1 matplotlib의 pyplot libraby에 대한 간단한 설명을 적어주세요.

### 3.1.2 본인의 matplotlib.pyplot의 version을 출력하시오.

## 3.2

### 3.2.1 아래의 조건에 맞추어 주어진 데이터 X,Y의 값에 대한 꺽은선 그래프를 그리시오.

1. x,y축의 이름을 붙이시오.
2. 그래프의 제목은 'Line'이라고 붙이시오.
3. 그래프의 선 색을 빨간색으로 하시오.
4. x축의 눈금은 5단위로 표시하시오.

In [ ]:
# 해당 셀을 실행하되 수정하지 마시오.
X = range(1, 50)
Y = [value * 3 for value in X]

### 3.2.2 아래의 조건에 맞추어 주어진 데이터에 대한 꺽은선 그래프를 그리시오.

1. 첫 번째 그래프의 선 색은 빨강, 두 번째 선 색은 초록으로 하시오.
2. 그래프의 제목은 'Two Lines'로 하시오.
3. 선의 굵기를 4로 통일하시오.
4. 각 선의 색에 따라 빨강 색은 'line1', 파랑 색은 'line2'임을 나타내는 표시를 그래프에 넣으시오.
5. 첫 번째 그래프의 점은 삼각형, 두 번째 그래프의 점은 원형으로 그리시오.

In [ ]:
# 해당 셀의 내용을 수정하지 마시오.
# line 1 points
x1 = [10,20,30]
y1 = [20,40,10]

# line 2 points
x2 = [10,20,30]
y2 = [40,10,30]

### 3.2.3 주어진 데이터에서 x는 프로그래밍 언어, popularity는 프로그래밍의 선호도이다. 프로그래밍 언어에 따른 선호도에 대한 막대그래프를 아래 조건에 맞추어 그리시오.

1. X축의 이름은 'Programming Language'로 하시오.
2. Y축의 이름은 'Popularity'로 하시오.
3. 격자 무늬를 넣으시오.
4. 그래프의 제목은 'Popularity of programming language'로 하시오.
5. X축의 눈금을 표시하시오.
6. 막대그래프는 중간맞춤으로 그리시오.

In [ ]:
# 해당 셀을 실행하되 수정하지 마시오.
x = ['Java', 'Python', 'PHP', 'JavaScript', 'C#', 'C++']
popularity = [22.2, 17.6, 8.8, 8, 7.7, 6.7]

### 3.2.4 아래 조건에 맞추어 주어진 두 데이터에 대한 꺽은선 그래프 두 개를 한 번에 그리시오.

1. data1의 그래프는 왼쪽에 data2의 그래프는 오른쪽에 그리시오.
2. data1의 그래프는 실선, data2의 그래프는 점선으로 그리시오.
3. 각각의 그래프의 최댓값에 화살표 표시를 넣고 'maximum'임을 표시하시오.
4. 각 그래프 별로 'data1', 'data2'라는 제목을 붙이시오.

In [ ]:
# 해당 셀을 실행하되 수정하지 마시오.
# data1
x1 = [i for i in range(10)]
y1 = [i*i+3 for i in x1]

# data2
x2 = [i for i in range(-5,6)]
y2 = [(-1)*i*i+25 for i in x2]